Contract Teamplate<br>
One day review, starting from {start_date})<br>
Party A name: {party_a_name}<br>
Party B name: {party_b_name}<br>
第一條（國內旅遊之定義）<br>
本契約所謂國內旅遊，指在台灣、澎湖、金門、馬祖及其他自由地區之我國疆域範圍內之旅遊。<br>
{payment_method}<br>
前項協議事項，如有變更本契約其他條款之規定，除經交通部觀光局核准，其約定無效，但有利於甲方者，不在此限。<br>
訂約人  甲方：{party_a_name}<br>
住　　　址：<br>
　乙方 (公司名稱)：{party_b_name}<br>
註冊編號：
　
簽約日期：中華民國 {signature_date}
